<div class="container contenedor">
    <div class="row">
        <form method="post" action="/admin/animes/create/genero/2">
            <label for="nombre">Género</label>
            <input type="text" class="form-control" name="nombre" id="nombre">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>