<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet"> 
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-light color-navbar">
          <div class="container-fluid">
            <a class="navbar-brand text-white" href="/"><i class="fab fa-asymmetrik text-icono"></i> AnimeDaily</a>
            <div id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/lunes">Lunes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/martes">Martes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/miercoles">Miércoles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/jueves">Jueves</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/viernes">Viernes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/sabado">Sábado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-nav" aria-current="page" href="/animes/domingo">Domingo</a>
                </li>
            </div>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle dropdown-menu-end dropdown-menu-lg-start text-navbar" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">..........................<i class="fas fa-user text-nav"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/login">Iniciar Sesión</a></li>
                    <li><a class="dropdown-item" href="/registro">Regístrate</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/usuarios">Mi perfil</a></li>
                  </ul>
                </li>
          </div>
        </nav>
      </header>
      
    {{{body}}}
    
    <footer class="color-footer py-4">
        <div class="container-fluid">
          <nav class="row">
              <a href="#" class="nav-link col-3 text-uppercase d-flex align-items-center text-footer">
                <i class="fab fa-asymmetrik mr-2"></i> AnimeDaily
              </a>
              <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase text-footer-tittle">Resource</li>
                <li><a href="" class="text-footer">Link 1</a></li>
                <li><a href="" class="text-footer">Link 2</a></li>
                <li><a href="" class="text-footer">Link 3</a></li>
              </ul>
              <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase text-footer-tittle">Resource</li>
                <li><a href="" class="text-footer">Link 1</a></li>
                <li><a href="" class="text-footer">Link 2</a></li>
                <li><a href="" class="text-footer">Link 3</a></li>
              </ul>
              <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase text-center text-footer-tittle">Social Networks</li>
                <li class="d-flex justify-content-between">
                  <a href="" class="text-footer"><i class="fab fa-facebook-f"></i></a>
                  <a href="" class="text-footer"><i class="fab fa-instagram"></i></a>
                  <a href="" class="text-footer"><i class="fab fa-twitter"></i></a>
                  <a href="" class="text-footer"><i class="fab fa-reddit-alien"></i></a>
                </li>
              </ul>
          </nav>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
